@font-face {
  font-family: Dhenmark;
  src: url('./source/Dhenmark.ttf') format('woff');
}

@font-face {
  font-family: 'Noto Serif CJK BOLD';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./source/SourceHanSerifCN-SemiBold.otf') format('woff');
}

@font-face {
  font-family: 'Noto Serif CJK';
  font-style: normal;
  font-display: swap;
  src: url('./source/SourceHanSerifCN-Light.otf') format('woff');
}

body {
  font-size: 40px;
  font-family: 'Noto Serif CJK BOLD';
}